[Desktop Entry]
Name=Start PiKaraoke
Comment=Launch PiKaraoke on boot
Exec=python3 /home/pi/autostart_pikaraoke.py
Icon=utilities-terminal
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true