[Desktop Entry]
Name=Start PiKaraoke
Comment=Launch PiKaraoke manually
Exec=python3 /home/pi/desktop_pikaraoke_start.py
Icon=utilities-terminal
Terminal=false
Type=Application
