[Desktop Entry]
Name=AutoStart PiKaraoke
Comment=Launch PiKaraoke automatically on desktop boot
Exec=python3 /home/pi/pikaraoke_start.py
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Audio;Application;
